{{define "mempool"}}
    <!DOCTYPE html>
    <html lang="en">
        {{template "head" .PageTitle}}
    <body>
        {{template "header" .PageHeader}}
        <main>
            <a href="/add"><h4>You should "Add Block" to confirm following Transactions</h4></a>
        {{template "transactions" .MemTx}}
        </main>
        {{template "footer"}}
    </body>
    </html>
{{end}}