{{define "add"}}
<!DOCTYPE html>
<html lang="en">
    {{template "head" "Add"}}
<body>
    {{template "header" "블록추가"}}
    <main>
        <form>
            <input type="text" placeholder="Data for your block" required />
        </form>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}}