{{define "block"}}
    <div>
        <ul>
            <li><h4>Block Name: {{.Name}}</h4></li>
            <li>Hash: {{.Hash}}</li>
            {{if .PrevHash}}
                <li>{{.PrevHash}}</li>
            {{end}}
            <li>Height: {{.Height}}</li>
            <li>Difficulty: {{.Difficulty}}</li>
            <li>Nonce: {{.Nonce}}</li>
            <li>Timestamp: {{.Timestamp}}</li>
            {{template "transactions" .Transactions}}
        </ul>
    </div>
    <hr />
{{end}}