{{define "block"}}
    <div>
        <ul>
            <li>Name: {{.Name}}</li>
            <li>Hash: {{.Hash}}</li>
            {{if .PrevHash}}
                <li>{{.PrevHash}}</li>
            {{end}}
            <li>Height: {{.Height}}</li>
            <li>Difficulty: {{.Difficulty}}</li>
            <li>Nonce: {{.Nonce}}</li>
            <li>Timestamp: {{.Timestamp}}</li>
            <li>Transaction: {{.Transactions}}</li>
        </ul>
    </div>
    <hr />
{{end}}