{{define "homeheader"}}
    <header>
        <nav>
            <a href="/"><h1>COIN</h1></a>
            <ul>
                <li>
                    <a href="/wallets">Wallet</a>
                </li>
            </ul>
        </nav>
        <h1>{{.}}</h1>
    </header>
{{end}}